body {
  padding-top: 10px;
  background: #fffbeb;
}

body.logged-out {
  background: white;
}
.logged-out .jumbotron {
  background-color: #fffbeb;
  border: 1px #fff2bc solid;
}

.header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #888;
  border-bottom: 6px #ddd solid;
  padding-bottom: 4px;
}

.header ul.top-buttons {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.narrow {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;  
}

.footer {
  padding: 0;
  margin-top: 20px;
  text-align: center;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px #e5e5e5 solid;
}

.footer .nav {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;  
}

.footer .credits {
  padding: 20px;
  font-size: 12px;
}


.jumbotron .tagline {
  font-size: 23px;
}
.jumbotron p {
  font-size: 18px;
}


/**
 * Bootstrap callouts
 */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-success {
  background-color: #dff0d8;
  border-color: #b5dca5;
}

.bs-callout-danger h4 {
  color: #B94A48;
}

.bs-callout-warning h4 {
  color: #C09853;
}

.bs-callout-info h4 {
  color: #3A87AD;
}

.bs-callout-success h4 {
  color: #3c763d;
}

.bs-callout.pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  word-break: break-all;
  word-wrap: break-word;
}

/**
 * Subscription UI
 */

#subscribe_btn {
  float: right;
}

#subscribe_url.left {
  width: 80%;
}

#feeds_discovered ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#feeds_discovered ul li {
  margin-bottom: 10px;
}

/**
 * Single Entry
 */
.entry {
  background: white;

  padding: 12px;

  border: 1px #ead78b solid;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}
.entry.has-context {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.entry-context {
  border: 1px #ead78b solid;
  border-bottom: none;
  background: #fffdf7;

  padding: 6px 12px;

  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;  

  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}

.entry .author .photo {
  position: relative; 
  width: 48px; 
  float: left; 
  margin-right: 6px;
}
.entry .author .photo img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.entry .author a.url {
  font-weight: bold;
}
.entry .author .name {
  color: #999;
}

.entry .clear {
  clear: both;  
  margin-bottom: 10px;
}

.entry .content, .entry .summary {
  margin-bottom: 8px;
}

.entry .content img {
  display: block;
  max-width: 100%;
  height: auto;
}

.entry .meta {
  text-decoration: none;
  color: #999;
  font-size: 12px;
}
.entry .meta ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.entry .meta ul li {
  display: inline-block;
  margin-right: 20px;
}
.entry .meta a {
  color: #999;
}

.entry-actions {
  background: #fffdf7;

  margin-bottom: 12px;
  padding: 0 8px;

  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);

  border-left: 1px #ead78b solid;
  border-bottom: 1px #ead78b solid;
  border-right: 1px #ead78b solid;

  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.entry-actions .action {
  font-size: 24px;
  color: #bbb;
  width: 40px;

  background: transparent;
  margin-right: 6px;
  border: 0;
}
.entry-actions .action:hover {
  color: #fdd42e;
}
.entry-actions .action .fa.loading {
  -webkit-animation: pulsate 1s ease-out;
}
.entry-actions .action.active {
  color: #fdd42e;
}
.entry-actions .result {
  border-top: 1px #ead78b solid;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 6px;
}
.entry-actions .syndications a {
  color: #fdd42e;
  font-size: 24px;
  border: 0;
  background: transparent;
  margin-left: 6px;
}
.entry-actions .syndications a:hover {
  color: #ffe370;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.9, 0.9); opacity: 1.0;}
    50% {opacity: 0.0;}
    100% {-webkit-transform: scale(1.1, 1.1); opacity: 1.0;}
}
